.funpic-selector {
  padding: 12px;
}
.funpic-selector-container {
  margin: 12px 0;
  display: flex;
  list-style-type: none;
  overflow: scroll;
  width: 100%;
}

.funpic-selector-container__item {
  list-style: none;
  margin-right: 12px;
  flex-shrink: 0;
  flex-grow: 0;
}